<h1>[LOGIN_TITLE]</h1>
<p>[LOGIN_TEXT]</p>
[ERROR]
<form name='login_form' method='post' action='[FILE]'>
[LOGIN_FIELD_USER]<br/>
<input type='text' name='[LF_USER]' class='input_medium' />
<br/>
[LOGIN_FIELD_PASS]<br/>
<input type='password' name='[LF_PASS]' class='input_medium' />
<br/>
<br/>
<input type='submit' class='input_submit' name='login' value='[BUTTON_LOGIN]' />
&nbsp; [REMEMBER_ME]
</form>
<p><br/><a href='[LOST_PASS_URL]'>[LOST_PASS_LINK]</a></p>