/* IE6 gerelateerde styles */
hr {
	margin: 0;
	}

.winkelwagenBtn {
	margin: -10px 0 0;
	}

.navLt ul, .meerWeten ul {
	margin: 0;
	}
	.navLt ul li a {
		width: 146px;
		}

.prodOverzVert, .prodOverzHorz {
	margin: 0 0 10px;
	}

.addWinkelTop a {
	margin: -7px 0 0 574px;
	}

div#price_block_2 {
	position: absolute; bottom: 420px; margin-left: -160px;
}