/* IE7 gerelateerde styles */
hr {
	margin: 0;
	}

.wrapContent {
	margin: 0 0 0 1px;
	background: url('../gfx/layout/bg/bg_verloop_lt-rt.jpg') repeat-y left top;
	}

.navLt ul, .meerWeten ul {
	margin: 0;
	}

.prodOverzVert, .prodOverzHorz {
	margin: 0 0 10px;
	}

.addWinkelTop a {
	margin: -7px 0 0 574px;
	}

div#price_block_2 {
	position: absolute; bottom: 420px; margin-left: -160px;
}