/* Menu gerelateerde styles */

/* Navigatie Top */
.nav ul {
	height: 40px;
	margin: 0 9px 0 0;
	padding: 0;
	list-style: none;
	float: right;
	}
	.nav li {
		float: left;
		}
		.nav a {
			display: block;
			width: auto;
			margin: 0 5px;
			padding: 21px 4px 4px;
			text-decoration: none;
			color: #adb9b0;
			}
		.nav a:hover, .nav a.selected, .nav a.selected:hover {
			color: #fff;
			background: url('../gfx/layout/bg/bg_menu_selected.gif') repeat-x left top;
			}
		.nav p {
			display: block;
			padding: 21px 0 4px;
			}

/* Navigatie Left */
.navLt ul {
	list-style: none;
	}
	.navLt ul li {
		width: 185px;
		background: url('../gfx/layout/bg/bg_menu_lt_divider.gif') no-repeat left bottom;
		}
		.navLt ul li a {
			display: block;
			width: 146px;
			padding: 7px 10px 7px 29px;
			background: url('../gfx/layout/bg/plus.gif') no-repeat 9px 7px;
			text-decoration: none;
			font-weight: bold;
			color: #464646;
			}
		.navLt ul li a:hover {
			color: #9b9a8d;
			}
		.navLt ul li a.selected {
			background: url('../gfx/layout/bg/min.gif') no-repeat 9px 7px;
			}

/* Navigatie Left Sub */
.navLtSub ul {
	list-style: none;
	}
	.navLtSub	ul li {
		width: 185px;
		background: url('../gfx/layout/bg/bg_menu_lt_divider.gif') no-repeat left top;
		}
		.navLtSub ul li a {
			display: block;
			width: 146px;
			padding: 2px 10px 2px 29px;
			background: none;
			text-decoration: none;
			font-weight: normal;
			color: #464646;
			}
		.navLtSub ul li a:hover, .navLtSub ul li a.selected {
			background: url('../gfx/layout/bg/bg_menu_lt_sub_mo.gif') repeat-y left top;
			}