/* Ombouw gerelateerde styles */
.outerWrap {
	position: relative;
	float:left;
	top: 0;
	left: 0;
	z-index:2;
}

	.wrapper {
		width: 986px;
		height: auto;
		margin: 0 auto; /* center, not in IE5 */
		background: url('../gfx/layout/bg/bg_verloop.gif') repeat-y left top;
		}

		/* Top */
		.top {
			width: 986px;
			height: 165px;
			}

			/* Navigatie */
			.nav {
				width: 986px;
				height: 40px;
				background: #484848;
				color: #adb9b0;
				}

			/* Header */
			.hd {
				width: 958px;
				height: 84px;
				margin: 0 14px;
				background: url('../gfx/layout/bg/bg_grijs.jpg') repeat-x left 83px;
				}

				.logo {
					position: absolute;
					margin: 50px 0 0;
					}
					
				.webshopKeurmerk {
					position: absolute;
					margin: 30px 0 0 580px;
					}

				.belVerkoopinfo {
					position: absolute;
					margin: 12px 0 0 706px;
					}

			/* Pad */
			.pad {
				height: 41px;
				margin: 0 14px;
				}
				.pad p {
					padding: 15px 0 0;
					color: #9a998d;
					float: right;
					}
					.pad a {
						text-decoration: underline;
						color: #9a998d;
						}
					.pad a:hover {
						text-decoration: none;
						}

		/* Content */
		.wrapContent {
			width: 986px;
			background: url('../gfx/layout/bg/bg_verloop_lt-rt.jpg') no-repeat left top;
			overflow: hidden;
			}

			.sidebarLt {
				width: 185px;
				margin: 0 10px 0 0;
				display: inline;
				float: left;
				}

				/* Navigatie Left */
				.navLt {
					width: 185px;
					margin: 10px 0;
					}

					/* Navigatie Left Sub */
					.navLtSub {
						width: 185px;
						margin: 0 0 5px;
						}

				/* Klantenservice */
				.klantenservice {
					width: 177px;
					margin: 30px 4px 10px;
					display: inline;
					text-align: center;
					float: left;
					clear: left;
					}
					.klantenserviceSfeer {
						margin: 0 0 10px;
						}

				/* Betaalmethodes */
				.betaalmethodes {
					width: 155px;
					margin: 40px 12px 10px;
					display: inline;
					float: left;
					clear: left;
					}

					.betaalmethode {
						margin: 0 2px;
						display: inline;
						float: left;
						}

					.betaalmethodeInfo {
						width: 100%;
						margin: 10px 0 0;
						padding: 0 3px;
						float: left;
						clear: left;
						}

				.ideal {
					width: 155px;
					margin: 40px 12px 10px;
					display: inline;
					text-align:center;
					float: left;
					clear: left;
					}
					.ideal p {
						margin: 5px 0 0;
						}

				.safelink {
					width: 155px;
					margin: 5px 12px;
					display: inline;
					text-align:center;
					float: left;
					clear: left;
					}
					.safelink a {
						clear: left;
						}

			/* Content */
			.ctContent {
				width: 791px;
				float: left;
				}

				.sfeerHd {
					width: 777px;
					margin: 0 14px 25px 0;
					}

				.content1 {
					width: 777px;
					float: left;
					}
				.content2 {
					width: 596px;
					float: left;
					}

				.sidebarRt {
					width: 185px;
					padding: 4px 0 0;
					float: right;
					}

						div.shops {
							width:165px;
							margin:0 10px 25px;
							float:left;
							}
							div.shops h3 {
								margin:0 0 5px;
								color:#000;
								font:700 25px Arial, Verdana;
								}
								div.shops h3 span {
									color:#a4a2c9;
									font:inherit;
									}
							div.shops ul {
								width:100%;
								margin:0;
								padding:0;
								list-style:none;
								float:left;
								}
								div.shops ul li {
									width:100%;
									padding:2px 0 0;
									background:url('../gfx/layout/bg/bg_shops-divider.gif') no-repeat 0 0;
									float:left;
									}
									div.shops ul li a {
										width:100%;
										height:12px;
										padding:10px 0 8px;
										text-indent:100%;
										white-space:nowrap;
										overflow:hidden;
										float:left;
										}
									a.zonwering {background:url('../gfx/layout/logo/logo_zonwering-small.png') no-repeat 0 50%;}
									a.hekwerk {background:url('../gfx/layout/logo/logo_hekwerk-small.png') no-repeat 0 50%;}
									a.raamdecoratie {background:url('../gfx/layout/logo/logo_raamdecoratie-small.png') no-repeat 0 50%;}
									a.laminaat {background:url('../gfx/layout/logo/logo_laminaat-small.png') no-repeat 0 50%;}
									a.gietvloer {background:url('../gfx/layout/logo/logo_gietvloer-small.png') no-repeat 0 50%;}

					/* Winkelwagen */
					.winkelwagen {
						width: 171px;
						margin: 0 0 25px;
						}

						.winkelwagenImg {
							margin: 0 0 0 7px;
							}

						.winkelwagenKop {
							margin: 10px 0 10px 14px;
							}
							.winkelwagenKop a {
								display: block;
								width: 93px;
								height: 15px;
								margin: 0;
								background: url('../gfx/layout/txt/winkelwagen.gif') no-repeat left top;
								}
							.winkelwagenKop a:hover {
								background: url('../gfx/layout/txt/winkelwagen-mo.gif') no-repeat left top;
								}
								.winkelwagenKop a span {
									display: none;
									}

						.divider {
							width: 100%;
							height: 1px;
							background: #d7d7d7;
							font-size: 1px;
							float: left;
							clear: left;
							}
						.tableDivider {
							width: 100%;
							height: 1px;
							background: url('../gfx/layout/bg/bg_table_divider.gif') no-repeat left top;
							font-size: 1px;
							float: left;
							clear: left;
							}
						.subtableDivider {
							width: 100%;
							height: 1px;
							background: url('../gfx/layout/bg/bg_subtable_divider.gif') no-repeat left top;
							font-size: 1px;
							float: left;
							clear: left;
							}

						.winkelwagenBtn a {
							display: block;
							width: 157px;
							height: 26px;
							margin: 0 0 0 14px;
							background: url('../gfx/layout/nav/winkelwagen.gif') no-repeat left top;
							}
						.winkelwagenBtn a:hover {
							background: url('../gfx/layout/nav/winkelwagen-mo.gif') no-repeat left top;
							}
							.winkelwagen a span {
								display: none;
								}

					/* Banner */
					.banner {
						width: 171px;
						margin: 0 0 25px;
						}

						.bannerImg {
							margin: 0 0 0 14px;
							}

			/* Popup */
			.popup {
				background: #fff url('../gfx/layout/bg/bg_popup.gif') repeat-y left top;
				}

			/* Footer nieuws */
			.ctFtNews {
				display: inline;
				width: 958px;
				margin: 0 14px 15px;
				padding: 15px 0 0;
				background: url('../gfx/layout/bg/bg_grijs.jpg') repeat-x left top;
				overflow: hidden;
				float: left;
				clear: left;
				}

				.ftNews {
					width: 163px;
					margin: 0 28px 0 0;
					line-height: 15px;
					float: left;
					}
					.ftNews a.selected {
						text-decoration: none;
						color: #9b9a8d;
						}

			/* Footer */
			.ft {
				display: inline;
				width: 958px;
				margin: 0 14px;
				padding: 15px 0;
				background: url('../gfx/layout/bg/bg_grijs.jpg') repeat-x left top;
				overflow: hidden;
				float: left;
				clear: left;
				}

				.ftWebdesign {
					float: left;
					}
					.ftWebdesign a {
						text-decoration: none;
						color: #000;
						}
					.ftWebdesign a:hover {
						text-decoration: underline;
						color: #9b9a8d;
						}

				.ftInfo {
					text-align: right;
					float: right;
					}
					.ftInfo a {
						text-decoration: none;
						color: #000;
						}
					.ftInfo a:hover, .ftInfo a.selected {
						text-decoration: underline;
						color: #9b9a8d;
						}

	/* Meer weten */
	.meerWeten {
		position: absolute;
		padding: 10px;
		left: 0;
		top: 0;
		background: #fff;
		border: 1px solid #e5e5e5;
		line-height: 16px;
		z-index:3;
		}
		.meerWeten ul {
			list-style: none;
			}

	/* Achtergrond */
	#wrapBg {
		position: relative;
		width: 986px;
		min-height: 1px;
		left: 50%;
		margin: 0 auto 0 -493px;
		background: url('../gfx/layout/bg/bg_verloop.gif') repeat-y left top;
		z-index: 1;
		float:left;
		}

.cookie {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    float: left;
    height: 25px;
    position: relative;
    width: 100%;
}

.cookie div {
    margin: 5px auto;
    position: relative;
    width: 990px;
}

.cookie div span {
    background: url("../gfx/layout/signs/error.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    font-weight: bold;
    height: 20px;
    padding-left: 20px;
}

.cookie div a.cookieHide {
    background: url("../gfx/layout/signs/cross.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-right: 0;
    padding-right: 20px;
}

.cookie div a {
    float: right;
    height: 20px;
    margin-right: 50px;
}

.cookie div a.info {
    background: url("../gfx/layout/signs/information.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-weight: bold;
    min-width: 20px;
    padding: 0 0 0 20px;
    position: static;
}

.info {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A9A9A9;
    cursor: pointer;
    left: 16px;
    padding: 2px;
    position: absolute;
    top: -3px;
    z-index: 100;
}
.fb-like {
		width:90px;
		height:70px;
		z-index: 1000;
		float:left;
		}