/* Pagina gerelateerde styles */

/* PG Blok */
p {
	clear: both;
}
.blok {
	width: 100%;
	min-height: 15px;
	margin: 0 0 15px;
	overflow: hidden;
	clear: both;
	}
	.blok h2.float {
		margin: 0 10px 0 0;
		float: left;
		clear: none;
		}
.blok h3 {
clear:none;
color:#6E8778;
font-family:Arial,Verdana,Helvetica,sans-serif;
font-size:14px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0 0 5px;
float:	left;
}

	/* Afbeeldingen */
	.img {
		margin: 0 0 15px;
		}
		.img img {
			border: 1px solid #e5e5e5;
			}

	.imgRight {
		margin: 0 0 15px 15px;
		float: right;
		}
		.imgRight img {
			border: 1px solid #e5e5e5;
			}

	.imgLeft {
		margin: 0 15px 15px 0;
		float: left;
		}
		.imgLeft img {
			border: 1px solid #e5e5e5;
			}

		/* Popup Afbeelding */
		.popupImg {
			position: absolute;
			width: 347px;
			padding: 5px;
			background: #fff;
			border: 1px solid #000;
			overflow: hidden;
			}

			.popupClose {
				width: 100%;
				height: 16px;
				margin: 0 0 5px;
				float: left;
				clear: left;
				}
				.popupClose a {
					width: 16px;
					height: 16px;
					margin: 0;
					background: url('../gfx/layout/nav/close.gif') no-repeat left top;
					float: right;
					}
				.popupClose a:hover {
					background: url('../gfx/layout/nav/close-mo.gif') no-repeat left top;
					}
					.popupClose a span {
						display: none;
						}

			.popupImg {
				float: left;
				clear: left;
				}

	/* Paginering */
	.paginering {
		float: right;
		}

		.gbPage {
			margin: 0 0 0 5px;
			float: left;
			}
			.gbPage span, .gbPage a {
				float: left;
				}
			.gbPage a {
				color: #000;
				}
			.gbPage a:hover {
				color: #9b9a8d;
				}
			.gbPage a.selected {
				font-weight: bold;
				text-decoration: none;
				color: #9b9a8d;
				}

	/* Product overzicht */
	.prodOverzVert, .prodOverzHorz {
		width: 100%;
		margin: 5px 0 10px;
		overflow: hidden;
		}
	.prodOverzVert {
		background: url('../gfx/layout/bg/bg_prod_divider_vert.gif') no-repeat 190px top;
		}

		.prodVert {
			width: 171px;
			margin: 0 0 0 41px;
			float: left;
			}
		prodHorz {
			width: 777px;
			margin: 0 0 10px 0;
			overflow: hidden;
			float: left;
			background: #ff0000;
			}
		.prodFirst {
			margin: 0;
			}

			.prodVertImg {
				width: 100%;
				height: 171px;
				}
			.prodHorzImg {
				width: 171px;
				height: 171px;
				margin: 0 25px 0 0;
				float: left;
				}

			.prodHorzInfo {
				width: 400px;
				min-height: 171px;
				float: left;
				}

				.prodVert h3 {
					width: 100%;
					margin: 15px 0 0;
					}
					.prodVert h3 a {
						color: #000;
						}
				.prodHorz h3 {
					width: 100%;
					background: url('../gfx/layout/bg/bg_grijs.jpg') repeat-x left top;
					padding: 15px 0 0;
					font-size: 12px;
					}
					.prodHorz h3 a {
						color: #000;
						}

						.prodHorzDesc {

        clear: left;

}

				.prodVertDesc, .prodHorzDesc {
					width: 100%;
					height: 100px;
					margin: 0 0 -44px;
					overflow: hidden;
					}
				.prodHorzDescExt {
					width: 100%;
					margin: 0 0 15px;
					overflow: hidden;
					}

				.prodHorzAfm {
					width: 100%;
					height: 41px;
					margin: 0 0 15px;
					overflow: hidden;
					}
					.prodHorzAfm span {
						font-weight: bold;
						}

				.prodHorzExtra {
					width: 100%;
					height: 74px;
					margin: 0 0 5px;
					}

				.meerinfoBtn a {
					position: absolute;
					display: block;
					width: 76px;
					height: 26px;
					margin: -26px 0 0 324px;
					background: url('../gfx/layout/nav/meer_info.gif') no-repeat left top;
					}
				.meerinfoBtn a:hover {
					background: url('../gfx/layout/nav/meer_info-mo.gif') no-repeat left top;
					}
					.meerinfoBtn a span {
						display: none;
						}

				.berekenprijsBtn a {
					position: absolute;
					display: block;
					width: 101px;
					height: 26px;
					margin: -26px 0 0 299px;
					background: url('../gfx/layout/nav/bereken_prijs.gif') no-repeat left top;
					}
				.berekenprijsBtn a:hover {
					background: url('../gfx/layout/nav/bereken_prijs-mo.gif') no-repeat left top;
					}
					.berekenprijsBtn a span {
						display: none;
						}

				.vraagofferteBtn a {
					position: absolute;
					display: block;
					width: 105px;
					height: 26px;
					margin: -26px 0 0 295px;
					background: url('../gfx/layout/nav/vraag_offerte_aan.gif') no-repeat left top;
					}
				.vraagofferteBtn a:hover {
					background: url('../gfx/layout/nav/vraag_offerte_aan.gif') no-repeat left bottom;
					}
					.vraagofferteBtn a span {
						display: none;
						}

				.addWinkelTop a, .addWinkelTop input {
					display: block;
					width: 203px;
					height: 26px;
					margin: 0;
					background: url('../gfx/layout/nav/toevoegen_winkelwagen_top.gif') no-repeat left top;
					float: right;
					border: 0px;
					cursor: pointer;
					}
				.addWinkelTop a:hover, .addWinkelTop input:hover {
					background: url('../gfx/layout/nav/toevoegen_winkelwagen_top-mo.gif') no-repeat left top;
					}
					.addWinkelTop a span {
						display: none;
						}
				.sendOfferteTop a, .sendOfferteTop input {
					display: block;
					width: 143px;
					height: 26px;
					margin: 0;
					background: url('../gfx/layout/nav/verzend_offerte_aanvraag-top.gif') no-repeat left top;
					float: right;
					cursor: pointer;
					border: 0px;
					}
				.sendOfferteTop a:hover, .sendOfferteTop input:hover {
					background: url('../gfx/layout/nav/verzend_offerte_aanvraag-top.gif') no-repeat left bottom;
					}
					.sendOfferteTop a span {
						display: none;
						}
				.addWinkelBtm a, .addWinkelBtm input {
					position: absolute;
					display: block;
					width: 203px;
					height: 26px;
					margin: -26px 0 0 574px;
					background: url('../gfx/layout/nav/toevoegen_winkelwagen_btm.gif') no-repeat left top;
					float: right;
					border: 0px;
					cursor: pointer;
					}
				.addWinkelBtm a:hover, .addWinkelBtm input:hover {
					background: url('../gfx/layout/nav/toevoegen_winkelwagen_btm-mo.gif') no-repeat left top;
					}
					.addWinkelBtm a span {
						display: none;
						}
				.sendOfferteBtm a, .sendOfferteBtm input {
					position: absolute;
					display: block;
					width: 143px;
					height: 26px;
					margin: -26px 0 0 634px;
					background: url('../gfx/layout/nav/verzend_offerte_aanvraag-btm.gif') no-repeat left top;
					float: right;
					cursor: pointer;
					border: 0px;
					}
				.sendOfferteBtm a:hover, .sendOfferteBtm input:hover {
					background: url('../gfx/layout/nav/verzend_offerte_aanvraag-btm.gif') no-repeat left bottom;

					}
					.sendOfferteBtm a span {
						display: none;
						}

			.prodHorzPrice, .prodHorzPriceExt {
				height: 151px;
				margin: 0 0 0 24px;
				padding: 20px 0 0;
				background: url('../gfx/layout/bg/bg_grijs.jpg') repeat-x left bottom;
				text-align: center;
				float: left;
				}
			.prodHorzPrice {
				width: 157px;
				}
			.prodHorzPriceExt {
				width: 137px;
				}
			.prodHorzPriceProd, .prodHorzPriceProdExt {
				height: 121px;
				margin: 0 0 0 24px;
				padding: 50px 0 0;
				text-align: center;
				float: left;
				}
			.prodHorzPriceProd {
				width: 157px;
				background: #a2a28f url('../gfx/layout/bg/bg_prod_price.gif') no-repeat left top;
				}
			.prodHorzPriceProdExt {
				width: 137px;
				background: #a2a28f url('../gfx/layout/bg/bg_prod_price-ext.gif') no-repeat left top;
				}
				.prodHorzPriceProd h4, .prodHorzPriceProdExt h4 {
					color: #fff;
					}
			.prodHorzPriceBestellen {
				margin:605px 0 0 14px;
				-moz-background-clip:border;
				-moz-background-inline-policy:continuous;
				-moz-background-origin:padding;
				background:#A2A28F url(../gfx/layout/bg/bg_prod_price.gif) no-repeat scroll left top;
				float:left;
				height:121px;

				padding:50px 0 0;
				text-align:center;
				width:157px;
			}
			.prodTablePrice {
				width: 157px;
				margin: 0 0 15px 24px;
				text-align: center;
				float: left;
				}
			.prodTablePriceTot, .prodTablePriceTotExt {
				display: block;
				margin: 0 0 25px 24px;
				padding: 15px 0;
				background: #a2a28f;
				text-align: center;
				float: right;
				}
			.prodTablePriceTot {
				width: 157px;
				}
			.prodTablePriceTotExt {
				width: 137px;
				}
				.prodTablePriceTot h4, .prodTablePriceTotExt h4 {
					font-size: 19px;
					text-transform: uppercase;
					color: #fff;
					}

				.prodPrice {
					width: 100%;
					}

					.priceNormal {
						display: block;
						width: 100%;
						margin: 0 0 3px;
						}
					.prodTablePrice .priceNormal {
						display: block;
						width: 100%;
						font-size: 12px;
						font-weight: bold;
						}
					.prodTablePriceTot .priceNormal {
						display: block;
						width: 100%;
						color: #fff;
						}
					.priceAdv {
						display: block;
						width: 100%;
						margin: 3px 0 0;
						font-weight: bold;
						color: #af2b31;
						}

			.prodHorzExtraInfo {
				width: 596px;
				margin: 15px 0 0;
				padding: 5px 0 0;
				background: url('../gfx/layout/bg/bg_grijs.jpg') repeat-x left top;
				cursor: pointer;
				float: left;
				clear: left;
				}
				.prodHorzExtraInfo a {
					display: block;
					height: 13px;
					margin: 0 50px 5px 0;
					padding: 0 17px 0 0;
					background: url('../gfx/layout/nav/arrow.gif') no-repeat right 50%;
					text-decoration: none;
					float: left;
					}

			#ctProdMontage {
				width: 596px;
				margin: 10px 0 0;
				padding: 5px 0 0;
				float: left;
				clear: left;
				}

				a.infoIcon {
					cursor: pointer;
					}

				.sluiten {
					width: 100%;
					overflow: hidden;
					cursor: pointer;
					float: left;
					clear: left;
					}
					.sluiten a {
						display: block;
						height: 13px;
						margin: 0 0 5px 0;
						padding: 0 17px 0 0;
						background: url('../gfx/layout/nav/arrow.gif') no-repeat right 50%;
						text-decoration: none;
						float: right;
						clear: both;
						}

				.stalen {
					width: 100%;
					margin: 5px 0;
					float: left;
					}

				a.showPlint {
					display: block;
					width: 12px;
					height: 22px;
					margin: 0;
					background: url('../gfx/layout/nav/arrow.gif') no-repeat left 50%;
					}
				a:hover.showPlint {
					background: url('../gfx/layout/nav/arrow.gif') no-repeat left 50%;
					}
					a.showPlint span {
						display: none;
						}

				.plinten {
					position: absolute;
					width: 258px;
					padding: 2px;
					background: #fff;
					border: 1px solid #a9a9a9;
					z-index: 1;
					}
					.plinten h2 {
						margin: 0 3px;
						clear: left;
						}
					.plinten .sluiten {
						margin: 5px 0 0;
						}
						.plinten .sluiten a {
							margin: 0 5px 5px 0;
							}

					.plint {
						margin: 3px;
						float: left;
						}
						.plint img {
							border: 1px solid #d7d7d7;
							}

				.calendar {
					position: absolute;
					width: 212px;
					margin: 1px 0 0;
					background: #fff;
					border: 1px solid #a9a9a9;
					z-index: 1;
					}

				/* Info popup */
				.info {
					width: 250px;
					position: absolute;
					margin: 1px 0 0 0;
					padding: 2px;
					background: #fff;
					border: 1px solid #a9a9a9;
					text-align: left;
					overflow: hidden;
					cursor: pointer;
					z-index: 1;
					}
					.info h2 {
						margin: 0 3px;
						clear: left;
						}
					.info p {
						margin: 0 3px;
						clear: left;
						}
					.info img {
						margin: 0 3px;
						border: 1px solid #d7d7d7;
						clear: left;
						}
					.info .sluiten {
						margin: 5px 0 0;
						}
						.info .sluiten a {
							margin: 0 5px 5px 0;
							}

				/* Kleurstalen */
				.kleurstalen {
					margin: 0 0 10px;
					overflow: hidden;
					}

					.kleurstalenRow {
						width: 595px;
						overflow: hidden;
						}

						.kleurstaal {
							width: 160px;
							margin: 0 25px 5px 0;
							overflow: hidden;
							float: left;
							cursor:pointer;
							}
							.kleurstaal img {
								float: left;
								}
							.kleurstaal input {
								float: left;
								clear: left;
								}
							.kleurstaal span {
								padding: 4px 0 0;
								float: left;
								}
							.kleurstaal label {
								cursor: pointer;
								text-decoration: none;
								}

				/* Kleurstalen div-poplayer */
				.kleurKiezenLayer{
					position:absolute;
					border:1px solid #000;
					padding:20px 0 10px 20px;
					width:585px;
					background:#FFF;


					}
					.kleurKiezenLayerSluiten{
						position:absolute;
						margin:0 0 0 550px;
						}
						.kleurKiezenLayerSluiten img{
							cursor:pointer;
						}
				/* Poorten */
				.poorten {
					margin: 0 0 10px;
					overflow: hidden;
					}

					.poortenRow {
						width: 595px;
						overflow: hidden;
						}

						.poort {
							width: 288px;
							margin: 0 10px 10px 0;
							overflow: hidden;
							float: left;
							}
							.poort input {
								float: left;
								clear: left;
								}
							.poort span {
								padding: 4px 0 0;
								float: left;
								}
							.poort label {
								cursor: pointer;
								text-decoration: none;
								}

				/* Palen */
				.palen {
					margin: 0 0 10px;
					overflow: hidden;
					}

					.palenRow {
						width: 595px;
						overflow: hidden;
						}

						.paal {
							width: 139px;
							margin: 0 10px 5px 0;
							overflow: hidden;
							float: left;
							}
							.paal input {
								float: left;
								clear: left;
								}
							.paal span {
								padding: 4px 5px 0 0;
								float: left;
								}
							.paal label {
								cursor: pointer;
								text-decoration: none;
								}

	/* Tabel */
	h2.table {
		clear: left;
		}

	.table {
		width: 596px;
		margin: 0 0 15px;
		overflow: hidden;
		float: left;
		clear: left;
		}
	.tableBreed {
		width: 100%;
		margin: 0 0 15px;
		overflow: hidden;
		float: left;
		}

		.verstuurBtn input {
			position: absolute;
			display: block;
			width: 76px;
			height: 26px;
			background: url('../gfx/layout/nav/verstuur.gif') no-repeat left top;
			border: 0;
			margin: -26px 0 0 520px;
			cursor: pointer;
		}
		.verstuurBtn a, .verstuurStalenBtn a {
			position: absolute;
			display: block;
			width: 76px;
			height: 26px;
			background: url('../gfx/layout/nav/verstuur.gif') no-repeat left top;
			}
		.verstuurBtn a {
			margin: -26px 0 0 520px;
			}
		.verstuurStalenBtn a {
			margin: -26px 0 0 365px;
			}
		.verstuurBtn a:hover, .verstuurStalenBtn a:hover, .verstuurBtn input:hover {
			background: url('../gfx/layout/nav/verstuur-mo.gif') no-repeat left top;
			}
			.verstuurBtn a span, .verstuurStalenBtn a span {
				display: none;
				}

		/* Winkelwagen */
		.winkelwagenRow {
			width: 596px;
			margin: 0 0 5px;
			overflow: hidden;
			float: left;
			}
			.winkelwagenRow em {
				color: #777;
				}
		.winkelwagenRowBtn {
			width: 596px;
			margin: 15px 0 5px;
			overflow: hidden;
			float: left;
			}

			.verwijderBtn a {
				display: block;
				width: 19px;
				height: 19px;
				background: url('../gfx/layout/nav/verwijder.gif') no-repeat left top;
				}
			.verwijderBtn a:hover {
				background: url('../gfx/layout/nav/verwijder-mo.gif') no-repeat left top;
				}
				.verwijderBtn a span {
					display: none;
					}

			.winkelVerderBtn a {
				position: absolute;
				display: block;
				width: 98px;
				height: 26px;
				margin: -26px 0 0 0;
				background: url('../gfx/layout/nav/winkel_verder.gif') no-repeat left top;
				float: right;
				}
			.winkelVerderBtn a:hover {
				background: url('../gfx/layout/nav/winkel_verder-mo.gif') no-repeat left top;
				}
				.winkelVerderBtn a span {
					display: none;
					}

			.naarKassaBtn a {
				position: absolute;
				display: block;
				width: 105px;
				height: 26px;
				margin: -26px 0 0 491px;
				background: url('../gfx/layout/nav/naar_de_kassa.gif') no-repeat left top;
				float: right;
				}
			.naarKassaBtn a:hover {
				background: url('../gfx/layout/nav/naar_de_kassa-mo.gif') no-repeat left top;
				}
				.naarKassaBtn a span {
					display: none;
					}

		/* Form */
		input.formSmall {
			width: 50px;
			height: 14px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		input.formMed {
			width: 164px;
			height: 14px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		select.selectSmall {
			width: 80px;
			height: 20px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		select.selectMed {
			width: 170px;
			height: 20px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		select.selectLarge {
			width: 610px;
			height: 20px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		textarea.formMed {
			width: 164px;
			height: 100px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		textarea.formLarge {
			width: 435px;
			height: 74px;
			padding: 2px;
			border: #a9a9a9 1px solid;
			}
		.foutmelding{
			color:#FF0000;
		}

		td.cartDescr {
			padding:2px 0; color:#696868;
		}

div#price_block_2 {
	position: absolute; bottom: 380px; margin-left: 620px;
}
.follow {
    clear: left;
    display: inline;
    float: left;
    margin: 30px 4px 10px;
    text-align: center;
    width: 177px;
}
.follow > span, .follow > a {
    float: left;
    overflow: hidden;
    text-indent: 100%;
    word-spacing: normal;
}
.follow > span {
    background: url("/gfx/layout/overig/volg_ons_voor_acties.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin: 1px 5px;
    width: 100%;
}
.follow > a {
    height: 25px;
    margin: 5px 0 0 6px;
    text-indent: -999px;
    width: 25px;
}
a.tw {background:url('/gfx/layout/overig/social.png') no-repeat -25px 0;}
a.fb {background:url('/gfx/layout/overig/social.png') no-repeat 0 0;}