/* Standaard HTML elementen */
html, body, td, div {
	margin: 0;
	font: 11px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}
html, body, .outerWrap {
	min-height: 100%; /* Not supported by IE 5/6, but required for Firefox/Opera */
	width: 100%;
	height: 100%;
	}
html>body, html>body .outerWrap {
	height: auto;
	}
html {
	background: #fff;
	}

img {
	border: 0;
	}

hr {
	height: 0px;
	margin: 5px 0 0;
	border: 0;
	border-top: 1px solid #d7d7d7;
	}

select, option, input, textarea {
	font: 11px Arial, Verdana, Helvetica, sans-serif;
	}

p {
	margin: 0;
	}

a {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	color: #464646;
	}
a:hover {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #9b9a8d;
	}

ol, ul {
	margin: 0 0 0 -40px;
	}

h1, h2 {
	margin: 0 0 5px;
	font: bold 17px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}
h3 {
	margin: 0 0 5px;
	font: bold 11px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}
h4 {
	margin: 0;
	font: bold 17px Arial, Verdana, Helvetica, sans-serif;
	color: #6e8778;
	}
h5 {
	margin: 0;
	font: bold 17px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}

label {
	cursor: text;
	}

p.error_message {
	color:	red;
}
p.message {

}