/*
Title:		FCK editor stylesheet
File: 		inc/style_fck.css
Version: 	v2.03
Author:		Digitalization
Contact:	info@digitalization.nl

Comments:	Make sure it matches the customers front-end style
*/

/* Editor window */
body {
	margin: 			5px; 			/* leave at 5px so that the fck editor window will look normal */
	background-color: 	#ffffff;
	/*width:				500px;			/* you can specify the width if needed to match a site layout */
	/*overflow-x:			hidden; 		/* if you specify a width, use this line to remove the horizontal scroller in page contents*/
}

/* Standard font choice */
body,td,th,p {
	font: 11px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
}

/* Links */
a, a[href] {
	color: #464646 !important;			/* For Firefox... mark as important, otherwise it becomes black */
	text-decoration:	none;
}

a:hover, a[href]:hover {
	text-decoration:	underline;
}

/* Clear margins */
p, ul, li, table, h1, h2, h3, h4, h5, h6 {
	margin: 			0px;
	padding:			0px;
}

/* Clearing element */
.clear {
	clear: 				both;
}

/* Headers */
ol, ul {
	margin: 0 0 0 -40px;
	}

h1, h2 {
	margin: 0 0 5px;
	font: bold 17px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}
h3 {
	margin: 0 0 5px;
	font: bold 11px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}
h4 {
	margin: 0;
	font: bold 17px Arial, Verdana, Helvetica, sans-serif;
	color: #6e8778;
	}
h5 {
	margin: 0;
	font: bold 17px Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	}

	.imgRight {
		margin: 0 0 15px 15px;
		float: right;
		}
		.imgRight img {
			border: 1px solid #e5e5e5;
			}

	.imgLeft {
		margin: 0 15px 15px 0;
		float: left;
		}
		.imgLeft img {
			border: 1px solid #e5e5e5;
			}