/*
Title:		File icons stylesheet appendix
File: 		inc/style_file_icons.css
Version: 	v2.02
Author:		Digitalization
Contact:	info@digitalization.nl
*/

/* GENERIC */
a[rel='file'] {
	background:transparent url(../gfx/filetypes/icon_generic.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* WEB DOCUMENTS */
a[rel='file'][href$='.htm'], a[rel='file'][href$='.html'] {
	background:transparent url(../gfx/filetypes/icon_html.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.css'] {
	background:transparent url(../gfx/filetypes/icon_css.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.php'] {
	background:transparent url(../gfx/filetypes/icon_php.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.js'] {
	background:transparent url(../gfx/filetypes/icon_js.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.sql'] {
	background:transparent url(../gfx/filetypes/icon_sql.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.rss'] {
	background:transparent url(../gfx/filetypes/icon_rss.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.xml'] {
	background:transparent url(../gfx/filetypes/icon_xml.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.log'] {
	background:transparent url(../gfx/filetypes/icon_log.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* WORD, OPEN OFFICE AND PDF */
a[rel='file'][href$='.doc'], a[rel='file'][href$='.docx'], a[rel='file'][href$='.svw'] {
	background:transparent url(../gfx/filetypes/icon_doc.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.csv'], a[rel='file'][href$='.xls'], a[rel='file'][href$='.xlsx'], a[rel='file'][href$='.sxc'],
a[rel='file'][href$='.sxm'] {
	background:transparent url(../gfx/filetypes/icon_xls.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.ppt'], a[rel='file'][href$='.pptx'], a[rel='file'][href$='.sxi'] {
	background:transparent url(../gfx/filetypes/icon_ppt.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.pdf'] {
	background:transparent url(../gfx/filetypes/icon_pdf.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* PLAIN TEXT */
a[rel='file'][href$='.rtf'], a[rel='file'][href$='.txt'] {
	background:transparent url(../gfx/filetypes/icon_txt.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* FLASH */
a[rel='file'][href$='.swf'] {
	background:transparent url(../gfx/filetypes/icon_swf.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.fla'] {
	background:transparent url(../gfx/filetypes/icon_fla.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* MOVIES */
a[rel='file'][href$='.avi'], a[rel='file'][href$='.wmv'], a[rel='file'][href$='.mpg'], a[rel='file'][href$='.mpeg'],
a[rel='file'][href$='.rm'] {
	background:transparent url(../gfx/filetypes/icon_film.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.mov'] {
	background:transparent url(../gfx/filetypes/icon_mov.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* AUDIO */
a[rel='file'][href$='.wav'], a[rel='file'][href$='.au'], a[rel='file'][href$='.wma'], a[rel='file'][href$='.mp3'],
a[rel='file'][href$='.mp4'], a[rel='file'][href$='.mid'], a[rel='file'][href$='.midi'], a[rel='file'][href$='.ra'] {
	background:transparent url(../gfx/filetypes/icon_audio.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* IMAGES */
a[rel='file'][href$='.sxd'], a[rel='file'][href$='.jpg'], a[rel='file'][href$='.jpeg'], a[rel='file'][href$='.gif'],
a[rel='file'][href$='.tiff'], a[rel='file'][href$='.tif'], a[rel='file'][href$='.bmp'], a[rel='file'][href$='.png'],
a[rel='file'][href$='.ico'] {
	background:transparent url(../gfx/filetypes/icon_image.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}
a[rel='file'][href$='.psd'] {
	background:transparent url(../gfx/filetypes/icon_psd.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}
a[rel='file'][href$='.svg'] {
	background:transparent url(../gfx/filetypes/icon_vector.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;	
}

/* ARCHIVES */
a[rel='file'][href$='.zip'], a[rel='file'][href$='.rar'], a[rel='file'][href$='.gzip'], a[rel='file'][href$='.arj'],
a[rel='file'][href$='.ace'], a[rel='file'][href$='.tar'], a[rel='file'][href$='.gz'], a[rel='file'][href$='.lha'],
a[rel='file'][href$='.bz2'], a[rel='file'][href$='.iso'] {
	background:transparent url(../gfx/filetypes/icon_zip.gif) center left no-repeat;
	display:inline-block;
	padding-left:20px;
	line-height:18px;
}