/*
Title:		CMS stylesheet
File: 		inc/cms_style.css
Version: 	v2.10
Author:		Digitalization
Contact:	info@digitalization.nl
Copyright:	All code copyright 2008 by Digitalization
*/

/* GENERAL */
* {
	margin: 			0px;
	padding: 			0px;
}

body {
	margin: 			0px;
	background: 		#ffffff;	
}

body, p, td {
	font-family: 		Tahoma;
	font-size: 			13px;
	color: 				#000000;
}

p {
	padding: 			0px;
	margin: 			0px;
	margin-top: 		10px;
}

hr {
	height: 			1px;
	border: 			0px;
	border-top: 		1px solid #dddddd;
	color: 				#ffffff;
	width: 				800px;
	text-align: 		left;
	margin: 			2px auto 0 0;
}

.clear {
	clear: 				both;
}

.grey {
	color:				#aaaaaa;
}

/* FORM ELEMENTS GENERAL */
form {
	display: 			inline;
}

input, select, textarea, button, option {
	font-family: 		Tahoma;
	color: 				#000000;
	font-size: 			12px;
	margin-bottom: 		1px;
	margin-top: 		1px;
}

/* TEXTAREA */
textarea {	
	border: 			1px solid #888888;
	width: 				361px;
	height: 			120px;
	padding: 			2px;
}

/* SELECT AND OPTIONS */
select {
 	border: 			1px solid #888888;
	width: 				216px;
	height: 			20px;
	padding: 			1px;
}

option {
	padding: 			1px;
	padding-left: 		5px;
}

optgroup {
	font-family: 		Tahoma;
	color: 				#000000;
	font-size: 			12px;
	font-style:			normal;
}
optgroup option {
	padding-left: 		10px;
}

option.bordered {
	border-bottom:		1px solid black;
	padding-bottom: 	3px;
}

/* TEXT INPUT STYLES */
.input_small {
 	border: 			1px solid #888888;
	width: 				50px;
	height: 			14px;
	padding: 			2px;
}

.input_medium {
 	border: 			1px solid #888888;
	width: 				150px;
	height: 			14px;
	padding: 			2px;
}

.input_regular {
 	border: 			1px solid #888888;
	width: 				210px;
	height: 			14px;
	padding: 			2px;
}

.input_large {
 	border: 			1px solid #888888;
	width: 				361px;
	height: 			14px;
	padding: 			2px;
}

.input_calendar {
 	border: 			1px solid #888888;
	width: 				180px;
	height: 			14px;
	padding: 			2px;
}

/* FILE INPUT */
.input_file, input[type='file'] {
	width: 				221px;	
	padding: 			2px;
}

/* CHECKBOXES AND RADIO */
input[type='checkbox'], input[type='radio'] {
	margin-left: 		4px;
}

/* BUTTONS */
button, input[type='submit'], .input_submit, .input_submit_inline {
	border: 			3px double 	#999999;
	border-top-color: 	#cccccc;
	border-left-color: 	#cccccc;
	background:			#ffffff url(../../gfx/cms/system/button_bg.gif) repeat-x;
	cursor:				pointer;
	padding-top:		1px;
	padding-bottom:		1px;
	padding-left:		10px;
	padding-right:		10px;
	font-size:			11px;
	font-weight: 		bold;
}

.input_submit_inline {
	height:				20px;
	padding-top:		0px;			
}

.calendar_button {
	padding-top:		0px;
	width: 				26px;
	height:				20px;
}

/* FOCUS COLOR CHANGE */
select:focus, textarea:focus, .input_large:focus, .input_regular:focus, .input_medium:focus, .input_small:focus {
	background: 		#f8f8ff;
	border:				1px solid black;	
}

/* INTERNAL LINKS */
a:link,  a:active, a:visited {
	color: 			 	#880000;
	text-decoration: 	none;
	outline:			none
}

a:hover {
	color: 			 	#ee0000;
	text-decoration: 	underline;
	outline:			none
}

/* EXTERNAL LINKS */
a[href^="http://"] {  
	background: 		transparent url('../../gfx/cms/system/external_link.gif') center right no-repeat;  
	display:			inline-block;  
	padding-right:		12px;  
} 
a.no_external {
	background:			none;
	display:			inline;
}

/* HEADERS */
h1 {
	color: 				#000000;
	font-size: 			20px;
	font-family: 		Tahoma;
	font-weight:		normal;
	margin: 			0px;
	padding: 			0px;
	display:			inline;
}

h1.color {
	color: 				#880000;
}

h1.grey {
	color: 				#aaaaaa;
}	

h1.darkgrey {
	color: 				#444444;
}

h3 {
	font-weight: 		bold;
	font-size: 			13px;
	margin: 			0px;
	padding:			0px;
	margin-top:			10px;
}

h6 {
	font-weight: 		normal; 
	font-size: 			11px;
	margin: 			0px;
	padding:			0px;
	display:			inline;
}

/* CMS LAYOUT STRUCTURE */
#top_td {
	background: 		url('../../gfx/cms/cms.gif') no-repeat right;
	border-bottom:		3px double #dddddd;
	padding-bottom:		5px;
	padding-top:		50px;
	padding-left: 		10px;
}

#bottom_td {
	border-top:			3px double #dddddd;
	padding-top:		2px;
	padding-left: 		10px;		
}

#menu_td {
	border-right:		1px solid #dddddd;		
	padding-left: 		20px;	
	background:			url('../../gfx/cms/system/menu_bg.gif') repeat-x top left;	
}

#body_td {
	padding-left: 		20px;
	padding-right:		10px;
}

/* TABLE DEFINITIONS */
table.data_table {
	width:				800px;
}

tr.legend_row td {
	text-decoration: 	none;
	font-weight: 	 	bold;
	padding-bottom:  	7px;
	padding-top: 	 	7px;
	color:			 	#222222;
	border-bottom: 	 	1px solid #dddddd;
}

tr.bottom_row td {
	padding-top:		7px;
	color:			 	#222222;	
}

tr.data_row td {
	padding-bottom: 	1px;
	padding-top: 		1px;
	border-bottom: 		1px solid #dddddd;	
}

tr.data_row_bold td {
	padding-top:		7px;
	padding-bottom: 	1px;
	color:			 	#222222;	
	font-weight:		bold;	
}

tr.data_row_e td {
	background:			#ffffff;
	padding-bottom: 	1px;
	padding-top: 		1px;
	border-bottom: 		1px solid #dddddd;	
}

tr.data_row_u td {
	background:			#f7f7f7;
	padding-bottom: 	1px;
	padding-top: 		1px;
	border-bottom: 		1px solid #dddddd;		
}

/* MARK ALL OPTIONS */
div#mark_all {
	padding-top:		3px;
	font-size:			11px;
}

/* CMS ICONS */
img.cms_icon {
	padding-bottom: 	5px;
	padding-right:		8px;
	float: 				left;
}

/* DIGICONS */
img.digicon {
	margin-bottom:		-2px;
}

/* TOP-RIGHT ICONS */
#top_icons_div {
	float:				right;
	right:				0px;
	top:				0px;
	width:				120px;
	height:				50px;
	padding-top:		10px;
	padding-right:		5px;
	text-align:			right;
}

/* MENU ELEMENTS */
span.menu_section_header {
	padding-left: 		4px;
	color:			 	#444444;
	font-size:			11px;
}

div.menu_section {
	margin-top:			15px;
	padding-bottom:		5px;
}

a.cms_menu_regular, .logout a  {
	display:			block;
	padding:			1px;
	padding-left:		9px;
	width:				140px;
}

a.cms_menu_active {
	display:			block;
	padding:			1px;
	padding-left:		9px;
	width:				140px;
	font-weight: 		bold;
	color:				#444444;
}

/* CRITICAL MESSAGE */
div.error {
	width: 				747px;
	border: 			2px solid #c60000;
	padding: 			9px;
	padding-left: 		40px;
	font-size: 			13px;
	background: 		#fff9f9 url(../../gfx/digicons/notok.png) no-repeat;
	background-position:10px 10px;
	margin-top: 		40px;
	margin-bottom: 		-15px;	
}

/* WARNING MESSAGE */
div.warning {
	width: 				747px;	
	border: 			2px solid #f8c836;
	padding: 			9px;
	padding-left: 		40px;
	font-size: 			13px;
	background: 		#ffffd9 url(../../gfx/digicons/halfok.png) no-repeat;
	background-position:10px 10px;
	margin-top: 		40px;
	margin-bottom: 		-15px;	
}

/* OK MESSAGE */
div.message {
	width: 				747px;	
	border: 			2px solid #6eaa56;
	padding: 			9px;
	padding-left: 		40px;
	font-size: 			13px;
	background: 		#f9fff9 url(../../gfx/digicons/ok.png) no-repeat;
	background-position:10px 10px;
	margin-top: 		40px;
	margin-bottom: 		-15px;
}

/* SEARCH */
div.search {
	position: 			relative;
	top: 				3px;
	left: 				600px;
	overflow: 			visible;
	height: 			1px;
	width: 				200px;
	text-align:			right;
}
div.search .input_medium {
	height: 			14px;
	width:				100px;
	border:				1px solid #cccccc;
}
div.search .input_submit {
	height: 			20px;
	padding-top: 		0px;
}

/* TIMER */
div#timer {
	position:			absolute;
	top: 				5px;
	right: 				10px;
	z-index:			2;	
}

div#running_time {
	font-size: 			11px;
	display:			inline;
	color:				#666666;
}

/* MASK (not in use yet) */
div#mask_div {
	position: 			absolute;
	top: 				0px;
	left: 				0px;
	height: 			100%;
	width: 				100%;
	background: 		url(../../gfx/cms/system/mask.gif) repeat;
	z-index: 			9;
}

/* LOGIN SCREEN */
div#login_div {
	border:				3px double #cccccc;
	width:				400px;
	min-height:			200px;
	position:			absolute;
	left:				50%;
	top:				50%;
	margin-left:		-200px;
	margin-top:			-150px;
	padding:			20px;
	background:			#f7f7f8 url(../../gfx/cms/system/lock.gif) no-repeat 10px 5px;
}

div#login_error {
	font-size:			11px;
	margin-top:			15px;
	margin-left:		-30px;
	width:				390px;
	color:				#b50404;
	font-weight:		bold;
}

div#login_error a {
	color:				red;
	text-decoration:	underline;
}

/* INDEX PAGE */
div.group_container_div {
	float: 				left;
	margin-right: 		20px;
	margin-bottom: 		20px;	
	width: 				400px;	
}

div.icons_header {
	font-weight: 		bold;
	font-size: 			11px;
	margin: 			0px;
	padding-left: 		10px;
	padding-bottom:		8px;
	color: 				#444444;
	width:				400px;
}

div.icons_div {
	width: 				400px;
	height: 			80px;
	background: 		#f4f4f4;
	border-right: 		1px solid #cccccc;
	border-bottom: 		1px solid #cccccc;
	background:			#f8f6f7 url(../../gfx/cms/system/index_bg.gif) repeat-x;
}

div.icon_div {
	float:				left;
	width:				64px;
	height: 			80px;
	padding-top: 		10px;
	padding-left:		15px;
	text-align:			center;
}

/* FAQ MODULE */
div.faqtopic {
	border: 			1px solid #cccccc;
	background: 		#f7f7f5;
	margin-top: 		10px;
	margin-bottom: 		10px;
	padding: 			15px;
	width: 				400px;
}

/* HOURS MODULE */
tr.data_row_hours td {
	padding-bottom: 	3px;
	padding-top: 		2px;
}

tr.data_row_hours_bold td {
	padding-bottom: 	3px;
	padding-top: 		2px;
	font-weight: 		bold;	
}

/* MENU MODULE */
div.section {
	float:				left;
	width:				300px;
	background:			#dddddd;
	margin-bottom:		2px;
	margin-top:			15px;
	padding:			2px;
	padding-left:		7px;
	padding-right:		10px;	
}

div.section_options {
	float:				left;
	width:				80px;
	background:			#dddddd;
	margin-bottom:		2px;
	margin-top:			15px;
	margin-left:		5px;	
	padding:			2px;
}

div.item {
	float:				left;
	width:				300px;
	background:			#eeeeee;
	margin-bottom:		2px;
	padding:			2px;
	padding-left:		15px;
}

div.item_options {
	float:				left;
	width:				80px;
	margin-bottom:		2px;
	margin-left:		5px;	
	padding:			2px;	
}

div.sub_item {
	float:				left;
	width:				285px;
	background:			#eeeeee;
	margin-bottom:		2px;
	padding:			2px;
	padding-left:		30px;
}

div.sub_item_options {
	float:				left;
	width:				80px;
	margin-bottom:		2px;
	margin-left:		5px;	
	padding:			2px;	
}

span.red {
	color: 				red;
}

/* NEWS MODULE */
div.comments {
	width:				400px;
	min-height:			100px;
	border:				1px solid #ece;
}

/* NEWSLETTERS MODULE */
div.red_indicator {
	background: 		#e72424;
	float: 				left;
	border: 			1px solid #404040; 
	height: 			12px;
	padding-bottom: 	1px;
	width: 				100px;	
}

div.green_indicator {
	background: 		#21db1c;
	float: 				left;
	border: 			1px solid #404040; 
	height: 			12px;
	padding-bottom: 	1px;
	width: 				100px;
}

h6.progress_indicator {
	z-index:			3; 
	position: 			absolute; 
	margin-left:		-100px; 
	margin-top: 		0px;
}

/* PHOTOALBUMS MODULE */
div.photo_container {
	float:				left;
	text-align:			center;
}

span.photo_title {
	display:			block;
	margin-top:			2px;
	margin-bottom:		5px;
	font-size:			11px;
}